{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <h1 style="color: #02c485">{{ message }}</h1>
    

    <h3>Let's enjoy some jokes</h3>

    {% for joke in jokes %}
        <p style="margin: 20px; 
        {% if forloop.counter == 5 %}background: yellow; display: inline;{% endif %}">{{ forloop.counter }}| {{ joke|truncatewords:10 }}</p>
    {% endfor %}

    <h3>DPI Students <span id="titlewrapper">at Annual Picnic</span></h3>
    <img id="picwrapper" src="{% static 'images/students.jpg' %}" onclick="changeContent()">

    <script>
        let titlewrapper = document.getElementById('titlewrapper');
        let picwrapper = document.getElementById('picwrapper');

        const changeContent = () => {
            titlewrapper.innerText = 'having fun at picnic';
            titlewrapper.style.color = "red";
            picwrapper.src = "{% static 'images/havingfun.jpg' %}";
        }
    </script>
{% endblock %}